mat-card {
    margin: 0.5rem auto;
    width: 90%;
    border: 1px solid white;

    h1 {
        letter-spacing: 3px;
        text-align: center;

    }
    mat-nav-list {
        margin-top: 1rem;
        a {
            &.active-link {
                background-color: rgba($color: #fff, $alpha: 0.2);
            }
        }
    }
}